extends ../layouts/default

mixin post(post)
    tr
        td: a(href='/case/' + post.id)= post.name
        td: a(href=post.url)= post.url

block content
    .container: .row
        .col-sm-8.col-md-9
            if data.cases.results.length
                if data.cases.totalPages > 1
                    h4.text-weight-normal 显示
                        strong #{data.cases.first}
                        |  到
                        strong #{data.cases.last}
                        |  ，总共
                        strong #{data.cases.total}
                        |  个案件.
                else
                    h4.text-weight-normal 显示 #{data.cases.results.length} 个案件.
                table.table
                    thead
                        tr
                            th 名称
                            th 网址
                    tbody
                        each post in data.cases.results
                            +post(post)

                if data.cases.totalPages > 1
                    ul.pagination
                        if data.cases.previous
                            li: a(href='?page=' + data.cases.previous): span.glyphicon.glyphicon-chevron-left
                        else
                            li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
                        each p, i in data.cases.pages
                            li(class=data.cases.currentPage == p ? 'active' : null)
                                a(href='?page=' + (p == '...' ? (i ? data.cases.totalPages : 1) : p ))= p
                        if data.cases.next
                            li: a(href='?page=' + data.cases.next): span.glyphicon.glyphicon-chevron-right
                        else
                            li.disabled: a(href='?page=' + data.cases.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
            else
                h3.text-muted There are no cases yet.